If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=aglassoflores"
target="_blank">
share it with your followers</a>
or
<a href="https://twitter.com/aglassoflores">
    follow me on Twitter</a>!
